$colors: (
);
// color

$primary : #3F46D6;
$primary-dark: #181C71;
$primary-light: #D5D7F6;

$secondary: #25D9C6;
$secondary-dark: #0F5750;
$secondary-light: #D3F8F4;

$danger : #E71D36;
$danger-dark: #9F0014;
$danger-light: #D5D7F6;

$error : #E71D36;
$warning : #FFB800;
$success: #3C8505;

$primary-text: #1A1A1A;
$secondary-text: #767676;
$line :#E0E0E0;
$background : #F9F9F9;
$white: #FFFFFF;


@function get-color($color, $value: 0) {
    @return map-get(map-get($colors, $color), $value);
}