.core__circle {
    border-radius: 50%;

    &.circle__color--success {
        background-color: #3C8505;
    }

    &.circle__color--danger {
        background-color: #E71D36;
    }

    &.circle__color--grey {
        background-color: #767676;
    }

    &.circle__color--info {
        background-color: #3F46D6;
    }

    &.circle__size--small {
        width: 8px;
        height: 8px;

        .content {
            display: none;
        }
    }

    &.circle__size--medium {
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;

        .content {
            font-family: 'Mukta';
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            color: #FFFFFF;
        }
    }

    &.circle__size--large {
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        .content {
            font-family: 'Mukta';
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            color: #FFFFFF;
        }
    }
}